*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgBx{
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #f00;
    border-radius: 15px;
    background: url(/home.jpeg);
    background-size: cover;
}

.imgBx::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
    background-color: transparent;
}

.imgBx::after{
    content: "";
    position: absolute;
    bottom: 70px;
    left:0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: -10px 10px 0 white;
    background-color: transparent;
}

.content{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #232949;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 0 35px;
}

.price{
    position: absolute;
    top: -80px;
    left: 0;
    height: 80px;
    width: 50%;
    background-color: #232949;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
}

.price:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 white;
}

.price::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #232949;
}

.price a{
    position: relative;
    background-color: #fff;
    padding: 10px 20px;
    margin: 15px;
    display: block;
    border-radius: 7px;
    font-weight: 500;
    text-decoration: none;
}

ul{
    color: #fff;

}