*{
    padding: 0;
    margin: 0;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637654;
}

body {
    background-color: var(--clr-2);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card{
    height: 60vh; 
    aspect-ratio: 1/1.5;
    background-color: var(--clr-1);
    border-radius: 0.5rem;

    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -0.4rem;
    z-index: -1;
    border-radius: inherit;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-4),
        var(--clr-3)
    );
    animation: rotation 10s linear infinite;   
}

.card::after{
    filter: blur(3.5rem);
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% {--gradient-angle: 360deg; }
}