*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    overflow: hidden;
    color: #fff;
}

.text{
    position: relative;
    margin: 40px;
    max-width: 800px;
    user-select: none;
    font-size: 1.5em;
}

.text span{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.text span.active{
    animation: smoke 2s linear forwards;
    transform-origin: bottom;
}

@keyframes smoke {
    0%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }
    50%{
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

/* https://youtu.be/by-3r2eqMXA */