*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: calc(100% - 40px);
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.box{
    width: 100%;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}

img{
    max-width: 100%;
    aspect-ratio: initial;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    .container{
        columns: 3;
    }
}

@media (max-width: 768px) {
    .container{
        columns: 2;
    }
}

@media (max-width: 480px) {
    .container{
        columns: 1;
    }
}