*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #0c192c;
}

.container{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 15px;
    aspect-ratio: 1;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(500s / var(--i) );
}

.bubbles span:nth-child(even){
    background-color: #ff3d75;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ff3d7544,
                0 0 50px #ff3d75,
                0 0 100px #ff3d75;
  }

@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}