*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e697f4;
    gap: 60px;
}

.loader{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(60deg);
}

.loader span{
    position: absolute;
    display: block;
    border: 5px solid #fff;
    box-shadow: 0 5px 0 #ccc,
                inset 0 5px 0 #ccc;
    border-radius: 50%;
    animation: animate 3s ease-in-out infinite;
}

.loader span:nth-child(1){
    inset: 0;
    animation-delay: 1.5s;
}
.loader span:nth-child(2){
    inset: 10px;
    animation-delay: 1.4s;
}
.loader span:nth-child(3){
    inset: 20px;
    animation-delay: 1.3s;
}
.loader span:nth-child(4){
    inset: 30px;
    animation-delay: 1.2s;
}
.loader span:nth-child(5){
    inset: 40px;
    animation-delay: 1.1s;
}
.loader span:nth-child(6){
    inset: 50px;
    animation-delay: 1s;
}
.loader span:nth-child(7){
    inset: 60px;
    animation-delay: 0.9s;
}
.loader span:nth-child(8){
    inset: 70px;
    animation-delay: 0.8s;
}
.loader span:nth-child(9){
    inset: 80px;
    animation-delay: 0.7s;
}
.loader span:nth-child(10){
    inset: 90px;
    animation-delay: 0.6s;
}
.loader span:nth-child(11){
    inset: 100px;
    animation-delay: 0.5s;
}
.loader span:nth-child(12){
    inset: 110px;
    animation-delay: 0.4s;
}
.loader span:nth-child(13){
    inset: 120px;
    animation-delay: 0.3s;
}
.loader span:nth-child(14){
    inset: 130px;
    animation-delay: 0.2s;
}
.loader span:nth-child(15){
    inset: 140px;
    animation-delay: 0.1s;
}

@keyframes animate {
    0%, 100%{
        transform: translateZ(-100px);

    }
    50%{
        transform: translateZ(100px);
    }
}